@import url('https://fonts.googleapis.com/css2?family=Baloo+Thambi+2:wght@500&family=Germania+One&family=Hina+Mincho&family=Kaisei+HarunoUmi:wght@500&family=M+PLUS+1&family=Mochiy+Pop+One&family=Rampart+One&family=Shippori+Antique+B1&family=Syne:wght@400;500&family=Vollkorn:wght@900&family=Yomogi&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 

body {
    background-color: #fff;
    font-family: 'Syne', sans-serif;
    color: #323131;
    font-size: 18px;
}

h2, h3 {
    font-family: 'Germania One', cursive;
}

h3 {    
    font-size: 48px;
    color: #323131;
}

#hero {
    background-image: url('../img/header.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 0 10%;
}

.navbar {
    position: fixed;
    top: 0;
    z-index: 10;
    width: 100%;
    transition: all 0.3s ease-in-out;
}

.nav-scroll {
    background: #220b6ede;
    backdrop-filter: blur(0.5px);
}

.navbar-inner {
    display: flex;
    justify-content:  space-between;
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    padding: 10px 0;
}

.navbar .logo {
    max-width: 115px;
}

.navbar .logo a,  .navbar .logo img {
    width: 100%;
    display: block;
    margin-left: 20px;
}

.navbar .menu {
    text-align: right;
    position: absolute;
    right: 80px;
}

.navbar .menu a {
    color: #fff;
    font-family: 'Syne', sans-serif;
    text-decoration: none;
    padding: 20px;
}

.navbar .menu a:hover {
    text-decoration: underline;
}

.cta {
    width: 100%;
    text-decoration: none;
    color: #fff;
    position: absolute;
    left: 105%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.cta .explore {
    color: #fff;
    border: none;
    background-image: linear-gradient(to bottom right, #500c7a, #9f2e87);
    border-radius: 0px 15px;
    padding: 15px 70px;
    font-size: 18px;
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
}

.explore:hover {
    background: #500c7a;
}

.cta .learn {
    text-align: center;
    margin-left: 50px;
    color: #fff;
    letter-spacing: 1px;
    cursor: pointer;
}

.learn:hover {
    color: rgba(255, 255, 255, 0.452);
}

.cta h1 {
    font-family: 'Germania One', cursive;
    letter-spacing: 3px;
    font-size: 50px;
}

.cta p {
    letter-spacing: 1px;
}

.middle {
    position: relative;
}

.middle::after {
    content: '';
    background-image: linear-gradient(to bottom, #540d36, #6d1e3a);
    height: 500px;
    width: 100%;
    position: absolute;
    top: 0;
}

#about {
    width: 90%;
    max-width: 1024px;
    margin: 0 auto;
    padding-top: 100px;
    position: relative;
    z-index: 5;
}

#about .logo {
    max-width: 300px;
    padding: 15px 0;
    margin: 0 auto;
}

#about .logo a {
    display: block;
    width: 100%;
}

.about-box {
    background: url(../img/bg-about.jpg) no-repeat 90% 90%, #fff6ec;
    padding: 70px;
    margin-top: 10px;
}

#about .quote {
    padding-left: 25px;
    letter-spacing: 0.8px;
    border-left: 5px solid #d9c1a4;
    font-size: 18px;
    line-height: 27px;
    text-align: justify;
}

#about p {
    font-size: 18px;
    line-height: 27px;
    text-align: justify;
    letter-spacing: 0.8px;
}

.vector-img {
    position: absolute;
    top: 70px;
    right: -55px;
}

#campaigns {
    margin: 100px auto 0;
    max-width: 1280px;
    width: 90%;
}

#campaigns h3 {
    text-align: center;
    position: relative;
    padding-top: 60px;
    margin-top: -60px;
    letter-spacing: 1px;
}

#campaigns img {
    margin-left: 6px;
    margin-right: 6px;
    margin-top: 6px;
}

.campaign-slide {
    margin-top: 45px;
    display: flex;
    justify-content: space-between;
}

/* .swiper-pointer-events {
    touch-action: pan-y;
} */

.swiper {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0;
    z-index: 1;
}

.swiper-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    transition-property: transform;
    box-sizing: content-box;
}

.swiper-slide {
    flex-shrink: 0;
    transition-property: transform;
}

.slide-card {
    width: 50%;
    border: solid 3px #500c7a;
    background: #fff;
    height: 536px;
    position: relative;
    justify-content: space-between;
}

.gradient {
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.9), rgba(0,0,0,0));
    height: 50%;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
}

.slide-card a {
    display: flex;
    width: 100%;
    height: 100%;
    position: relative;
    justify-content: space-between;
}

.campaign-logo {
    position: absolute;
    bottom: 30px;
    display: flex;
    width: 100%;
    padding: 10px;
    justify-content: center;
}

/* element.style {
    transform: translate3d(-935px, 0px, 0px);
    transition-duration: 0ms;
} */

#arkemyr {
    background-image: url(../img/castle.jpg);
    background-position: 35% 50%;
    background-size: cover;
}

#bvale {
    background-image: url(../img/feywild.jpg);
    background-position: 60% 50%;
    background-size: cover;
}

#bvale .campaign-logo {
    bottom: 45px;
    padding: 10px 25px;
}

#leviathan {
    background-image: url(../img/pirate.jpg);
    background-position: 60% 50%;
    background-size: cover;
}

#tavern {
    background-image: url(../img/tavern.jpg);
    background-position: 20% 50%;
    background-size: cover;
}

.slide-card .campaign-logo img {
    display: block;
    width: 100%;
}

#leviathan .campaign-logo img {
    max-width: 331px;
}

#tavern .campaign-logo img {
    max-width: 258px;
}

.campaign-slide-nav {
    margin-top: 25px;
    font-size: 24px;
    color: #500c7a;
    display: flex;
    justify-content: flex-end;
}

.campaign-slide-nav > * {
    border: solid 2px #500c7a;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    cursor: pointer;
}

.campaign-slide-nav > *:hover {
    background-color: #500c7a;
    color: #fff;
}

.slide-prev {
    margin-right: -2px;
}

.slide-next {
    margin-left: -2px;
}
.ri-arrow-left-line .ri-arrow-right-line {
    font-family: 'remixicon' !important;
    font-style: normal;
}

.ri-arrow-left-line:before {
    content: "←";
}

.ri-arrow-right-line:before {
    content: "→";
}

#newsletter {
    text-align: center;
    padding: 60px;
    background: #efefef;
    position: relative;
    margin: 100px 0 50px;
    line-height: 1.5;
}

#newsletter::after {
    content: '';    
    background: url('../img/Shelves.png');
    background-position: 50% 70%;
    opacity: 0.07;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.newsletter-content h3 {
    color: #500c7a;
    font-size: 48px;
}

.newsletter-content {
    max-width: 770px;
    width: 100%;
    margin: 0 auto;
    position: relative;
    z-index: 5;
}

.newsletter-content form {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.newsletter-content input {
    width: 60%;
    border: solid 2px #500c7a; 
    padding: 15px;
}

.newsletter-content input::placeholder {
    color: #a996b2;
    font-family:'Syne', sans-serif;
}

.newsletter-content button {
    width: 15%;
    background-image: linear-gradient(to right, #540e7a, #9a2d86);
    border:  none;
    color: white;
    font-family: 'Syne', sans-serif;
    font-weight: 900;
    font-size: 18px;
    border-radius: 0px 8px;
    margin-left: 10px;
    cursor: pointer;
}   

.newsletter-content button:hover {
    background: #500c7a;
}

#attributions {
    background:  #220b6ede;
    color: #fff;
    padding: 20px 0;
}

#attributions a {
    text-decoration: none;
    border-bottom: 0.1px solid #faca45;
    box-shadow: inset 0 -2px 0 #faca45;
    color: inherit;
    transition: background 0.1s cubic-bezier(.33,.66,.66,1);
}

#attributions a:hover {
    background: #faca45;
    color: #500c7a;
}

@media only screen and (max-width: 1440px) {}
@media only screen and (max-width: 900px) {
    #hero {
        padding: 0;
    }

    .cta {
        width: 90%;
    }
}

@media only screen and (max-width: 320px) {
    body {
        font-size: 14px;
    }
    h3 {
        font-size: 26px;
    }
    .vector-img {
        display: none;
    }
    #about {
        padding-top: 50px;
    }
    .about-box p {
        font-size: 14px;
        line-height: 18px;
    }
    .about-box h3 {
        margin-bottom: 15px;
    }

    #campaigns {
        margin-top: 50px;
    }
    .campaign-slide {
        margin-top: 20px;
    }
    #newsletter {
        margin-top: 50px;
    }
    #newsletter form {
        display: block;
    }
    #newsletter input {
        width: 100%;
    }
    #newsletter button {
        width: 100%;
        margin-top: 10px;
        padding: 10px 0;
    }
}
